#container{
  overflow-x : none;
}
#header-container {
  background-color: #293241;
  position: relative;
  top: 0;
  left: 0;
}

.coderb-light{
  color : #ffcb00;
}

.section:nth-of-type(1){
  color : #fff;
  height : calc(100vh + 53px);
}

.section:nth-of-type(1) .text{
  font-size : 24px;
  line-height : 28px;
  font-weight : bold;
  pointer-events : none;
  z-index : 1;
}

.section:nth-of-type(1) .button{
  position : relative;
  margin : 20px;
  padding : 10px 20px;
  border : 2px solid #fff;
  transition : all 0.5s;
  cursor : pointer;
}

.section:nth-of-type(1) .button:hover{
  border : 2px solid #ff6150;
  background-color : #ff6150;
  font-weight : bold;
}

.flex{
  display : flex;
  align-items : center;
  flex-direction : column;
  justify-content : center;
}



@media screen and (min-width : 600px){
  .section:nth-of-type(1) .text{
    font-size : 38px;
    line-height : 42px;
  }
  .section:nth-of-type(1) .button{
    padding : 15px 35px;
  }
}