#container{
  overflow-x : none;
}
#header-container {
  background-color: #293241;
  position: relative;
}
#main-1-container{
  background-color : #ffffff;
  position : relative;
}


.coderb-light{
  color : #ffcb00;
}
section{
  position : relative;
  padding : 150px 0 150px 0;
  line-height : 12px;
}
section:nth-of-type(1){
  padding : 0 10px;
}
section:nth-of-type(1){
  color : #fff;
  height : calc(100vh + 53px);
}

section:nth-of-type(1) .text{
  font-size : 24px;
  line-height : 28px;
  font-weight : bold;
  pointer-events : none;
  z-index : 1;
}

section:nth-of-type(1) .button{
  position : relative;
  margin : 20px;
  padding : 10px 20px;
  border : 2px solid #fff;
  transition : all 0.5s;
  cursor : pointer;
}

section:nth-of-type(1) .button:hover{
  border : 2px solid #ff6150;
  background-color : #ff6150;
  font-weight : bold;
}

.flex{
  display : flex;
  align-items : center;
  flex-direction : column;
  justify-content : center;
}
nav{
  background-color : #293241;
  border-bottom : 3px solid#ff6150;
  width : 100%;
  height : 50px;
}
nav.fixed{
  position : fixed;
  left : 0;
  top : 0;
  z-index : 999;
}

nav .nav-content{
  position : absolute;
  background-color : #30475e;
  top : 53px;
  width : 100%;
  overflow : hidden;
}

nav .nav-content div{
  border-bottom : 2px solid #ff6150;
  padding : 15px 20px;
  text-transform : uppercase;
}

nav .nav-content div.active{
  font-weight : bold;
  color : #ff6150;
}

.fa-align-justify{
  position : absolute;
  margin : auto 0;
  top : 0;
  right : 20px;
  font-size : 42px;
  height : 42px;
  line-height : 42px;
}
.slider{
  display : flex;
  width : calc(100% - 15px);
  overflow-x : auto;
  max-height : 600px;
}

.slider-item{
  margin : 0 20px;
  width : inherit;
  flex-shrink : 0;
  height : 100%;
}

section:nth-of-type(2) img{
  height : 280px;
}
section:nth-of-type(2) .main-text{
  font-size : 18px;
  line-height : 24px;
  font-weight : bold;
  margin-bottom : 20px;
}
section:nth-of-type(2) .text{
  font-size : 12px;
  line-height : 16px;
}
section:nth-of-type(2) .text p{
  text-align : center;
}

section:nth-of-type(2) .active-circle{
  position : relative;
  width : 120px;
  height : 120px;
  border-radius : 50%;
  background-color : #ff6150;
}

section:nth-of-type(2) .item-wrap{
  width :120px;
  height : 250px;
}
.active-circle i{
  position : absolute;
  color : #ffffff;
  font-size : 42px;
  top : 40px;
  left : 40px;
}

section:nth-of-type(2) .circle-info{
  position : relative;
  text-align : center;
  margin-top : 20px;
}

@media screen and (min-width : 960px){
  section:nth-of-type(2) .flex-row{
    flex-direction : row;
  }
  section:nth-of-type(2) .flex-50{
    box-sizing : border-box;
    max-height : 100%;
    max-width : 50%;
    flex : 1 1 50%;
  }
  section:nth-of-type(2) .active-circle{
    margin : 0 auto;
    width : 300px;
    height : 300px;
  }
  .active-circle i{
    font-size : 82px;
    top : 110px;
    left : 100px;
  }
  section:nth-of-type(2) .main-text{
    font-size : 20px;
    line-height : 24px;
  }
  section:nth-of-type(2) .text{
    font-size : 16px;
    line-height : 20px;
  }
}

@media screen and (min-width : 600px){
  section{
    line-height : 18px;
    padding : 300px 0 300px 0;
  }
  section:nth-of-type(1) .text{
    font-size : 38px;
    line-height : 42px;
  }
  section:nth-of-type(1) .button{
    padding : 15px 35px;
  }

  section:nth-of-type(2) img{
    height : 350px;
  }
}
